.header {
  background-color: rgb(190, 194, 174);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 30px -2px rgba(65, 71, 35, 0.7);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.3rem;
  display: flex;
  
  gap: var(--gap-lg);
}

/* Logo */
.logoImg {
  height: 5rem;
  width: auto;
}

/* Nav links */
.nav {
  display: none;
  align-items: center;
  gap: 4rem;
  flex: 1;
  justify-content: end;
  flex-wrap: wrap;

  /*Acrescentado para o menu */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(190, 194, 174);
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.nav a {
  font-size: 1.05rem;
  color: var(--texto-suave);
  padding: 0.20rem 0.8rem;
  border-radius: 20px;
  transition: color 0.2s, background-color 0.3s;
}

.nav a:hover {
  color: var(--verde-musgo);
  background-color: rgb(215, 218, 197);
}

.nav a.ativo {
  color: rgb(236, 238, 229);
  background-color: rgba(94, 109, 61, 0.918);
  font-weight: 700;
}

/*Menu*/
.menuToggle {
    display: flex;
    flex-direction: column;
    margin: 1.7rem;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menuToggle .bar {
    width: 25px;
    height: 3px;
    background-color: rgba(94, 109, 61, 0.918);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menuToggle.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menuToggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menuToggle.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navAberto {
  display: flex;
}

@media (min-width: 768px) {

  .menuToggle {
    display: none;
  }
  .nav {
    display: flex;
    position: static;
    flex-direction: row;
    padding: 0;
  }

}